<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>管理员 - 接口管理系统</title>
    <link rel="icon" href="/favicon.ico" type="image/ico">
    <meta name="keywords" content="hbh,后台模板,后台管理系统,HTML模板">
    <meta name="description" content="一个基于Bootstrap的后台管理系统。">
    <meta name="author" content="hbh">
    <!--公用css-->
    <link href="../Public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../Public/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../Public/css/style.min.css" rel="stylesheet">

    <link href="../Public/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../Public/css/custom.css" rel="stylesheet">
</head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--头部信息-->
        <header class="lyear-layout-header">

            <nav class="navbar navbar-default">
                <div class="topbar">

                    <div class="topbar-left">
                        <div class="lyear-aside-toggler">
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                        </div>
                    </div>

                    <ul class="topbar-right">
                        <li class="dropdown dropdown-profile">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <img class="img-avatar img-avatar-48 m-r-10" src="../Public/images/admin.jpg"  />
                                <span class="username"><span class="caret"></span></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li> <a href="javascript:void(0)"><i class="mdi mdi-account"></i> 个人信息</a> </li>
                                <li> <a href="javascript:void(0)"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
                                <li class="divider"></li>
                                <li> <a href="javascript:;" onclick="outLogin();"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </nav>

        </header>
        <!--End 头部信息-->


        <!--左侧导航-->
        <aside class="lyear-layout-sidebar">

            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <a href="index.html"><img src="../Public/images/logo-sidebar.png" title="LightYear" alt="LightYear" /></a>
            </div>
            <div class="lyear-layout-sidebar-scroll">

                <nav class="sidebar-main">
                    <ul class="nav nav-drawer">
                        <li class="nav-item"><a href="javascript:;" class="go_this_window" data-url="Api/index"><i class="mdi mdi-home"></i>首页</a></li>

                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0);"><i class="mdi mdi-settings"></i>系统</a>
                            <ul class="nav nav-subnav">
                                <li class="nav-item nav-item-has-subnav">
                                    <a href="javascript:void(0);"><i class="mdi mdi-chevron-right"></i> 账户</a>
                                    <ul class="nav nav-subnav" style="display: none;">
                                        <li class="user-manager"><a  href="javascript:;" class="go_this_window" data-url="user/manager"><i class="mdi mdi-chevron-right"></i> 管理员</a> </li>
                                        <li class="role-role"><a   href="javascript:;" class="go_this_window" data-url="role/role"><i class="mdi mdi-chevron-right"></i> 角色者</a> </li>
                                    </ul>
                                </li>
<!--                                <li class="Project_project"><a  href="javascript:;" class="go_this_window" data-url="project/project"><i class="mdi mdi-chevron-right"></i> 项目</a></li>-->
                                <li class="nav-item nav-item-has-subnav">
                                    <a href="javascript:void(0);"><i class="mdi mdi-chevron-right"></i> 项目</a>
                                    <ul class="nav nav-subnav" style="display: none;">
                                        <li class="project-project"><a  href="javascript:;" class="go_this_window" data-url="project/project"><i class="mdi mdi-chevron-right"></i> 项目管理</a> </li>
                                        <li class="project-testuser"><a   href="javascript:;" class="go_this_window" data-url="project/testuser"><i class="mdi mdi-chevron-right"></i> 项目测试帐号</a> </li>
                                    </ul>
                                </li>
                                <li class="user-logs"><a href="javascript:;" class="go_this_window" data-url="User/logs"><i class="mdi mdi-chevron-right"></i> 日志</a></li>
                            </ul>
                        </li>

                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><i class="mdi mdi-view-list"></i> 项目</a>
                            <ul class="nav nav-subnav" id="left-nav-html">

                            </ul>
                        </li>
                    </ul>
                </nav>

                <div class="sidebar-footer">
                    <p class="copyright">Copyright &copy; 2019. <a target="_blank" href="#!">.</a> All rights reserved.</p>
                </div>
            </div>

        </aside>

        <!--End 左侧导航-->




        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">

                                <form class="form-inline" action="#" method="get" data-url="user/getlist" data-list="user-list">
                                    <div class="form-group">
                                        <label class="sr-only">昵称</label>
                                        <input class="form-control" type="text" name="nickname" value="" placeholder="请输入昵称..">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only">昵称</label>
                                        <select name="is_del" class="form-control">
                                            <option value="">请选择</option>
                                            <option value="0" >正常</option>
                                            <option value="1">已删</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-default bj-list-search" type="button">搜索</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="card">
                            <div class="card-header">
                                <div><a href="javascript:void(0);" class="addmanager" data-id="0">
                                    <button class="btn btn-primary btn-w-xs"><i class="mdi mdi-plus-circle-outline"></i> 添加</button>
                                </a></div>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive" id="user-list">

                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/html" id="user-list-html">
    <table class="table table-hover" data-del_url="user/del">
        <thead>
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>昵称</th>
            <th>角色</th>
            <th>状态</th>
            <th>操作时间</th>
            <th>添加时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        {{each data}}
            <tr>
                <th scope="row">{{$value.id}}</th>
                <td>{{$value.username}}</td>
                <td>{{$value.nickname}}</td>
                <td>{{$value.role_name}}</td>
                <td>
                    {{if $value.is_del ==0 }}
                    <span class="label label-success">正常</span>
                    {{else}}
                    <span class="label label-secondary">已删</span></if>
                    {{/if}}

                </td>
                <td class="small">{{$value.last_update_time}}</td>
                <td class="small">{{$value.addtime}}</td>
                <td>
                    {{if $value.is_del == 0}}
                    <a href="javascript:void(0);" data-id="{{$value.id}}" class="addmanager">
                        <i class="mdi mdi-pencil-circle-outline"></i> 修改
                    </a>
                    <a href="javascript:void(0);" data-id="{{$value.id}}" class="bj-del-this">
                        <i class="mdi mdi-delete-circle"></i> 删除
                    </a>
                    {{else}}
                    <span class="label label-secondary">已删</span></if>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>


<script type="text/html" id="user-edit-html">
    <!--接口添加-->
    <div class="card">
        <div class="card-body">
            <form class="form-horizontal"  onsubmit="return false;" data-url="user/edit" data-callback_url="user/manager">
                <input type="hidden" name="id" value="{{id}}">
                <div class="form-group">
                    <label class="control-label col-xs-2">用户名：</label>
                    <div class="col-xs-8">
                        {{if id >0 }}
                        <input class="form-control" type="text" name="username" readonly value="{{username}}">
                        {{else}}
                        <input class="form-control" type="text" name="username" required value="{{username}}" required placeholder="请输入用户名..." autocomplete="off">
                        {{/if}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">昵称：</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" name="nickname" required value="{{nickname}}" required placeholder="请输入昵称..." autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">角色：</label>
                    <div class="col-xs-8">
                        <select name="role_id" required class="form-control">
                            {{each role_list}}
                            <option value="{{$value.id}}"  {{if role_id==$value.id}}selected {{/if}} >{{$value.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">密码：</label>
                    <div class="col-xs-8">
                        {{if id >0 }}
                        <input class="form-control" type="password" name="password" placeholder="不填写，不更改密码" autocomplete="off">
                        {{else}}
                        <input class="form-control" type="password" name="password" required autocomplete="off">
                        {{/if}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8 col-xs-offset-2">
                        <button class="btn btn-primary bj-form-button" type="button">立即提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>


<!--公用js-->
<script type="text/javascript" src="../Public/js/jquery.min.js"></script>
<script type="text/javascript" src="../Public/js/template.js"></script>

<script type="text/javascript" src="../Public/config.js"></script>
<script type="text/javascript" src="../Public/common.js"></script>

<script type="text/javascript" src="../Public/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="../Public/js/main.min.js"></script>


<script type="text/javascript" src="../Public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../Public/js/layui/layui.js"></script>

<script>

/*添加与修改管理员*/
    $(document).on('click','.addmanager',function () {
        ajax('user/getone', {id:$(this).attr('data-id')}, function (data) {
            layer.open({
                title: "管理员操作",
                area: ['650px', '430px'],
                type: 1,
                content: template("user-edit-html", data),
            });
        })

    })


</script>

</body>
</html>